
/**
 * Animations
 * ------------
 */
svg.active .logo {
    stroke-dashoffset: 4578.16357421875px!important;
    transition: stroke-dashoffset 5s linear 0s!important;
}

svg.active.complete .logo {
    stroke-dasharray: 0!important;
}

@keyframes hoverMenu {
    0%   {transform: translate(-100%, -75%); opacity: 0;}
    50%  {transform: translate(120%, -20%);}
    100% {transform: translate(0, -50%); opacity: 1;}
}