
/**
 * Fonts
 * ------
 */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html {
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;

    a {
        color: $primary;
        text-decoration: none;
        transition: all .4s;
    }
}
