/**
 * Variables
 * ----------
 */
/**
 * Responsive
 * ----------
 */
body {
  background: url(../images/signinbg.jpg) no-repeat center center/cover !important;
}
body #login {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  width: 25%;
  height: 100vh;
  padding: 8% 0 0;
  padding-top: 0;
  margin: auto;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 8px 0 8px -10px #000000, -8px 0 8px -10px #000000;
  justify-content: center;
}
body #login h1 a {
  background-image: url(../images/logo.svg) !important;
}
body #login input#wp-submit {
  width: 100%;
  height: auto;
  padding: 5px 0;
  margin-top: 10px;
  text-shadow: none;
  background: rgba(30, 39, 46, 0.8);
  border: none;
  border-radius: 0;
  box-shadow: none;
}
body #login input#wp-submit:hover {
  background: #1E272E !important;
  border-color: #1E272E !important;
}
body #login input[type=text]:focus,
body #login input[type=search]:focus,
body #login input[type=radio]:focus,
body #login input[type=tel]:focus,
body #login input[type=time]:focus,
body #login input[type=url]:focus,
body #login input[type=week]:focus,
body #login input[type=password]:focus,
body #login input[type=checkbox]:focus,
body #login input[type=color]:focus,
body #login input[type=date]:focus,
body #login input[type=datetime]:focus,
body #login input[type=datetime-local]:focus,
body #login input[type=email]:focus,
body #login input[type=month]:focus,
body #login input[type=number]:focus,
body #login select:focus,
body #login textarea:focus {
  border-color: rgba(30, 39, 46, 0.8);
  box-shadow: none;
}
body #login #backtoblog {
  margin: 8px 0;
  text-align: center;
}
body #login #backtoblog a {
  color: #202020;
}
body #login #nav {
  margin: 15px 0 0;
  text-align: center;
}
body #login #nav a {
  color: #202020;
}
body #login form {
  padding-bottom: 0;
  margin-top: 0;
  box-shadow: none;
  border: none;
}
body .login h1 a {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 150px;
  margin: 0;
  background-size: auto 100%;
  transform: none;
}
body .login #login_error,
body .login .message,
body .login .success {
  margin-top: 15px;
  margin-bottom: 0;
}
body .login .privacy-policy-page-link {
  margin-top: 10px;
}

@media (max-width: 1250px) {
  #login {
    width: 35%;
  }
}
@media (max-width: 992px) {
  #login {
    width: 45%;
  }
}
@media (max-width: 768px) {
  #login {
    width: 100%;
  }

  .login h1 a {
    min-height: 100px;
  }
}