<section id="about">
    <div class="title">
        <h2>À propos</h2>
    </div>
    <div class="content">
        <div class="container">
            <h3>Hello World,</h3>
            <p>
                Passionné d'informatique depuis mon plus jeune âge, je suis un vrai touche à tout, j'aime découvrir, apprendre de nouvelles choses ! <br/>
                Déployer une solution optimisée, de qualité et évolutive pour projets clients à toujours été le centre de mon intérêt. <br/>
                Rechercher puis poser toutes les cartes sur la table pour enfin tracer le chemin de LA meilleure solution à une demande de fonctionnalité ou à la résolution d'un problème a toujours été ma manière de faire.
            </p>
            <p>
                Actuellement en poste en temps que Responsable Technique avec une casquette de Développeur Web à l'agence Révélateur à Baume-les-Dames, à mi-chemin de Besançon et Belfort.<br/>
                Grâce à mes 4 ans d'expériences en entreprise, je suis aujourd'hui capable de m'adapter à n'importe qu'elle demande et problématique ce qui me pousse à rechercher une autre entreprise pour me permettre de me challenger et découvrir de nouveaux horizons
            </p>
        </div>
        <div class="container">
            <div class="all_interet">
                <div class="interest">
                    <div class="block">
                        <div class="title-block">
                            <h3>Parachutisme</h3>
                        </div>
                        <picture>
                            <source srcset="/images/parachute.webp" type="image/webp">
                            <source srcset="/images/parachute.jpg" type="image/jpeg"> 
                            <img src="/images/parachute.jpg" alt="Parachutisme">
                        </picture>
                    </div>
                    <div class="block">
                        <div class="title-block">
                            <h3>Boxe française</h3>
                        </div>
                        <picture>
                            <source srcset="/images/boxe.webp" type="image/webp">
                            <source srcset="/images/boxe.jpg" type="image/jpeg"> 
                            <img src="/images/boxe.jpg" alt="Boxe française">
                        </picture>
                    </div>
                    <div class="block">
                        <div class="title-block">
                            <h3>Randonnées</h3>
                        </div>
                        <picture>
                            <source srcset="/images/rando.webp" type="image/webp">
                            <source srcset="/images/rando.jpg" type="image/jpeg"> 
                            <img src="/images/rando.jpg" alt="Randonnées">
                        </picture>
                    </div>
                </div>
                <div class="interest">
                    <div class="block">
                        <div class="title-block">
                            <h3>Festivals</h3>
                        </div>
                        <picture>
                            <source srcset="/images/festival.webp" type="image/webp">
                            <source srcset="/images/festival.jpg" type="image/jpeg"> 
                            <img src="/images/festival.jpg" alt="Festivals">
                        </picture>
                    </div>
                    <div class="block">
                        <div class="title-block">
                            <h3>Impression 3D</h3>
                        </div>
                        <picture>
                            <source srcset="/images/3d.webp" type="image/webp">
                            <source srcset="/images/3d.jpg" type="image/jpeg"> 
                            <img src="/images/3d.jpg" alt="Impression 3D">
                        </picture>
                    </div>
                    <div class="block">
                        <div class="title-block">
                            <h3>Jeux vidéos</h3>
                        </div>
                        <picture>
                            <source srcset="/images/game.webp" type="image/webp">
                            <source srcset="/images/game.jpg" type="image/jpeg"> 
                            <img src="/images/game.jpg" alt="Jeux vidéos">
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>