<section id="about">
    <div class="title">
        <h2>À propos</h2>
    </div>
    <div class="content">
        <div class="container">
            <p>In qui nostrud pariatur qui reprehenderit dolore ullamco velit culpa aliqua adipisicing consectetur deserunt elit. Aliquip culpa id cillum consequat eiusmod velit culpa veniam proident commodo cupidatat. Incididunt deserunt ut aliqua aliqua nostrud anim. Reprehenderit veniam magna Lorem fugiat consequat anim velit esse ad id. Eiusmod ullamco ex mollit elit excepteur anim laborum non tempor. Magna labore excepteur duis labore occaecat sint adipisicing sit ipsum culpa consequat reprehenderit. Dolore eiusmod veniam in consequat laboris ad commodo non.</p>
            <p>Pariatur excepteur sunt voluptate qui. Mollit nostrud fugiat esse do est fugiat anim minim excepteur qui aute sint. Incididunt deserunt nisi qui consectetur consectetur irure duis proident tempor culpa ea sunt ex. Laboris deserunt ad elit exercitation velit aute Lorem mollit sunt aliquip nulla. Aute minim culpa id velit cupidatat non amet exercitation eiusmod adipisicing quis irure laboris. Culpa mollit mollit proident sit aliquip adipisicing excepteur. Ea sunt elit officia sint aute do sunt eiusmod ex deserunt ex reprehenderit do do.</p>
        </div>
        <div class="container">
            <div class="interest">
                <div class="block">
                    <div class="title-block">
                        <h3>Parachutisme</h3>
                    </div>
                    <picture>
                        <img src="/assets/images/bg.jpg" alt="">
                    </picture>
                </div>
                <div class="block">
                    <div class="title-block">
                        <h3>Boxe française</h3>
                    </div>
                    <picture>
                        <img src="/assets/images/bg.jpg" alt="">
                    </picture>
                </div>
                <div class="block">
                    <div class="title-block">
                        <h3>Boxe française</h3>
                    </div>
                    <picture>
                        <img src="/assets/images/bg.jpg" alt="">
                    </picture>
                </div>
            </div>
            <div class="interest">
                <div class="block">
                    <div class="title-block">
                        <h3>Boxe française</h3>
                    </div>
                    <picture>
                        <img src="/assets/images/bg.jpg" alt="">
                    </picture>
                </div>
                <div class="block">
                    <div class="title-block">
                        <h3>Boxe française</h3>
                    </div>
                    <picture>
                        <img src="/assets/images/bg.jpg" alt="">
                    </picture>
                </div>
                <div class="block">
                    <div class="title-block">
                        <h3>Boxe française</h3>
                    </div>
                    <picture>
                        <img src="/assets/images/bg.jpg" alt="">
                    </picture>
                </div>
            </div>
        </div>
    </div>
</section>