<section id="experiences">
    <div class="main-title">
        <div class="title">
            <h2>Expériences</h2>
        </div>
    </div>
    <div class="container content">
        <ul class="timeline">
            <li>
                <span class="date">2019 - Actuellement</span>
                <h4>Agence Révélateur</h4>
                <p><strong>Responsable Technique</strong></p>
                <ul>
                    <li>Apporter une expertise et des conseils techniques pour un projet. </li>
                    <li>Veiller à la qualité du code et des fonctionnalités développé par l’équipe de production.</li>
                    <li>Faire évoluer et optimiser les outils de développement ainsi que l’infrastructure global de l’agence. </li>
                    <li>Former de nouveaux développeurs.</li>
                </ul>
            </li>
            <li>
                <span class="date">2017 - 2019</span>
                <h4>Agence Révélateur</h4>
                <p><strong>Développeur</strong></p>
                <ul>
                    <li>Découper et intégrer une maquette d’un site web.</li>
                    <li>Développer de manière efficasse les fonctionnalitées demandées d’un projet.</li>
                    <li>Effectuer des tâches de maintenance sur d’anciens sites ainsi que sur des problématiques de mails.</li>
                </ul>
            </li>
            <li>
                <span class="date">Mars 2016 - Juin 2017</span>
                <h4>Amenothès Conception</h4>
                <p>
                    <strong>Stagiaire développeur</strong><br/>
                    Conception d'un outil interne avec le framework CodeIgniter
                </p>
            </li>
        </ul>
    </div>
</section>