<nav>
    <ul class="start">
        <li class="page_item active">
            <span class="bg"></span>
            <a href="/" aria-current="page">
                <include src="../../resources/images/home.svg"></include>
            </a>
        </li>
        <li class="page_item">
            <span class="bg"></span>
            <a href="#about">
                <include src="../../resources/images/info.svg"></include>
            </a>
        </li>
        <li class="page_item">
            <span class="bg"></span>
            <a href="#training">
                <include src="../../resources/images/formation.svg"></include>
            </a>
        </li>
        <li class="page_item">
            <span class="bg"></span>
            <a href="#experience">
                <include src="../../resources/images/office-building.svg"></include>
            </a>
        </li>
        <li class="page_item">
            <span class="bg"></span>
            <a href="#skills">
                <include src="../../resources/images/processing.svg"></include>
            </a>
        </li>
        <li class="page_item">
            <span class="bg"></span>
            <a href="#contact">
                <include src="../../resources/images/phone-book.svg"></include>
            </a>
        </li>
    </ul>

    <ul class="social_network">
        <li class="active">
            <span class="bg"></span>
            <a href="" id="github">
                <include src="../../resources/images/github.svg"></include>
            </a>
        </li>
        <li class="active">
            <span class="bg"></span>
            <a href="">
                <include src="../../resources/images/linkedin.svg"></include>
            </a>
        </li>
    </ul>
</nav>