/**
 * Variables
 * ----------
 */
 
//Colors
$primary: #1E272E;
$secondary: #485460;
$white: #FFFFFF;
$black: #000000;

$success: #27ae60;
$error: #e74c3c;

/**
 * Responsive
 * ----------
 */
$mq-large-desktop: 1400px !default;
$mq-desktop: 1200px !default;
$mq-large-tablet: 992px !default;
$mq-tablet: 768px !default;
$mq-mobile: 450px !default;