$mq-mobile: 450px !default;
$mq-tablet: 768px !default;
$mq-large-tablet: 992px !default;
$mq-desktop: 1200px !default;
$mq-large-desktop: 1400px !default;

@media (max-width: $mq-large-desktop) {

}

@media (max-width: $mq-desktop) {

}

@media (max-width: $mq-large-tablet) {
    
}

@media (max-width: $mq-tablet) {

}

@media (max-width: $mq-mobile) {

}
